/* 1em = 24px */
@media only screen and (min-width: 11em) and (max-width: 25em)

  body
    padding 1%
    width 98%
    
  h1
    font-size 1.1em
    min-height 240px

  .npm-module-count
    font-size 300%

  button.button
    font-size 1em