html-bg-color = #003e4d

html, body
  position: relative
  padding: 0
  margin: 0 auto
  overflow: auto
  font-family: 'Lato', Times, 'Times New Roman', serif
  font-size: 150%
  font-weight: 200
  letter-spacing: -0.02em
  color: #fff
  width: 100%
  height: 100%
  min-height: 600px
  text-align: center
  

html
  background: html-bg-color
  background: -moz-radial-gradient(center, ellipse cover, lighten(html-bg-color,30%) 0%, html-bg-color 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,lighten(html-bg-color,30%)), color-stop(100%,html-bg-color));
  background: -webkit-radial-gradient(center, ellipse cover, lighten(html-bg-color,30%) 0%,html-bg-color 100%);
  background: -o-radial-gradient(center, ellipse cover, lighten(html-bg-color,30%) 0%,html-bg-color 100%);
  background: -ms-radial-gradient(center, ellipse cover, lighten(html-bg-color,30%) 0%,html-bg-color 100%);
  background: radial-gradient(center, ellipse cover, lighten(html-bg-color,30%) 0%,html-bg-color 100%)

.npm-module-count
  display: block;
  font-size: 400%

#main
  max-width 700px
